<h1>Contestant: <%= session[:name] %></h1>

<h2>Question number <%= session[:game].question_number %>.</h2>

<h3><%= session[:game].current_question %></h3>

<form class="" action="/play" method="post">
  <input type="submit" name="answer" value="<%= session[:game].current_answers[0] %>">
  <input type="submit" name="answer" value="<%= session[:game].current_answers[1] %>">
  <input type="submit" name="answer" value="<%= session[:game].current_answers[2] %>">
  <input type="submit" name="answer" value="<%= session[:game].current_answers[3] %>">
</form>
